.customer-reviews
  %h2 customer reviews
  .col-lg-8.col-md-8
    %ul.no-padding
      - @reviews.each do |review|
        %li.review-list
          .col-lg-4.col-md-4.no-padding
            .media
              .media-left.media-top
                = link_to review.user do
                  %img.media-object(src="/images/profile-placeholder.png")
              .media-body
                %h4.media-heading
                  %name
                    = link_to "#{review.user.full_name}", review.user
                  -# .short-addresss
                  -#   Woodside NY
                  .review
                    .btn.btn-stars.btn-md.reviews-total
                      %span.glyphicon.glyphicon-star
                    %p.total #{review.user.total_reviews} Reviews
          .col-lg-8.col-md-8.no-padding
            .user-ratings
              = render "/shared/stars", star: review
              %date= format_date(review.created_at)
            %p= review.description
  = render 'sidebar'