.row.wrapper
  .form-wrap.col-md-4.col-md-offset-2
    .alert.alert-success
      %small Create account or Login with <br>
      %small username: admin@email.com <br>
      %small password: admin <br>
    %h2 Log In To Yelp
    .subhead-wrap
      .subheading New to Yelp? 
      = link_to "Sign Up", signup_path
    = bootstrap_form_tag url: sessions_path do |f|
      .form-group
        = f.email_field :email, placeholder: "Email address"
      .form-group
        = f.password_field :password, placeholder: "Password"
      .form-group
        = f.submit "Log In", class: "btn btn-block btn-danger"
  .col-md-4
    %img(src="/images/signup_illustration.png")