.row.profile.listings
  .col-lg-3.col-md-3
    .profile-image
      %img(src="#{@user.photo}")
    %h3 #{@user.first_name} 's Profile
    %ul.star-listing
      - @user.rating_details.each do |star, total|
        %li
          %span
            - star.times do
              .btn.btn-stars.btn-md
                %span.glyphicon.glyphicon-star
          %span= total
  .col-lg-6.col-md-6
    %h1= @user.full_name
    -# %h4 New York, NY
    .btn.btn-stars.btn-md.reviews-total
      %span.glyphicon.glyphicon-star
    %p.total #{@user.reviews.length} Reviews
    %ul.reviews
      %h2 Recent Review
      = render partial: 'review', collection: @user.reviews