%nav.navbar.navbar-default#searchbar
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        %img(src="/images/yelp_icon.png")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li= link_to "View Business", businesses_path
        %li= link_to "Recent Reviews", reviews_path
        - if logged_in?
          %li= link_to "New business", new_business_path
      %ul.nav.navbar-nav.navbar-right
        -if logged_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .header-profile
                %img(src="/images/profile-placeholder.png")
                %small= current_user.first_name
                %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider{:role => "separator"}
              %li= link_to "Log Out", logout_path
        -else
          %li= link_to "Log In", login_path
          %li= link_to "Sign Up", signup_path