.row.listings
  .col-lg-8.col-md-8.col-md-offset-2.col-lg-offset-2
    %ul.reviews
      %h2 Recent Review
      - @reviews.each do |review|
        %li.review-list
          .media
            .media-left.media-top
              = link_to review.user do
                %img.media-object(src="/images/profile-placeholder.png")
            .media-body
              %h4.media-heading= (link_to "#{review.user_name}", review.user) + " wrote a review for " + (link_to "#{review.business_name}", review.business)
              .user-ratings
                = render '/shared/stars', star: review
                %date= format_date(review.created_at)
              %p #{display_words(review.description)} #{link_to "Read more...", review.business}